<%= form_for @wiki do |f| %>

    <% if wiki.errors.any? %>
     <div class="alert alert-danger">
       <h4><%= pluralize(wiki.errors.count, "error") %>.</h4>
       <ul>
         <% wiki.errors.full_messages.each do |msg| %>
           <li><%= msg %></li>
         <% end %>
       </ul>
     </div>
    <% end %>

    <%= form_group_tag(wiki.errors[:title]) do %>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Subject/Title of Wiki" %>
    <% end %>
    <%= form_group_tag(wiki.errors[:body]) do %>
        <%= f.label :body %>
        <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: "Enter wiki info" %>
        <small>Blocipedia supports <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">Markdown</a></small>
    <% end %>

    <% if user_see_private? || current_user.admin? %>
        <%= form_group_tag(wiki.errors[:title]) do %>
            <%= f.label :private, class: 'checkbox' do %>
                <%= f.check_box :private %> Private wiki
            <% end %>
        <% end %>
        <h4>Add Collaborators</h4>
        <table class="table">
            <% @wiki.collaborators.each do |collaborator| %>
            <tr>
                <td><%= collaborator.user.email %></td>
                <td> | <%= link_to "Remove", collaborator_path(collaborator.id), method: :delete%></td>
            </tr>
            <% end %>
        </table>
        <%= link_to "Add Collaborator", new_collaborator_path(wiki_id: @wiki.id), class: 'btn btn-success' %>
    <% end %>
    <div class="form-group">
        <%= f.submit "Save Wiki", class: 'btn btn-success' %>
    </div>

<% end %>
